@import "variables.scss";

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(173, 173, 173, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: appear;
    animation-duration: 300ms;
}

.input_container {
    @media screen and (min-width: $minFull) {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    @media screen and (min-width: $minLarge) and (max-width: $maxLarge) {
        display: grid;
        grid-template-columns: 45% 55%;
    }
    @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
        width: 90%;
    }
    @media screen and (max-width: $maxSmall) {
        width: 90%;
    }
}

.window {
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(105, 105, 105);

    @media screen and (min-width: $minFull) {
        width: 50%;
        padding: 4% 0;
    }
    @media screen and (min-width: $minLarge) and (max-width: $maxLarge) {
        width: 75%;
        padding: 5% 0;
    }
    @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
        width: 70%;
        padding: 7% 0;
    }
    @media screen and (max-width: $maxSmall) {
        width: 90%;
        padding: 10% 0;
    }
}

.content {
    width: 83%;
    margin: auto;
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 9px;
        font-family: $font;
        font-size: 1em;
    }

    input {
        width: 100%;
        border-radius: 3px;
        height: 25px;
        font-family: $font;

        &:focus {
            border-color: rgba(255, 255, 255, 0);
        }
    }
}

.title {
    font-family: $font;
    margin-top: 0;

    @media screen and (min-width: $minFull) {
        font-size: 1.5em;
    }
    @media screen and (min-width: $minLarge) and (max-width: $maxLarge) {
        font-size: 1.45em;
    }
    @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
        font-size: 1.4em;
    }
    @media screen and (max-width: $maxSmall) {
        font-size: 1.2em;
    }
}

.invalid {
    border-color: rgb(211, 54, 54);
}

.error, .need_correct {
    font-weight: 500;
    font-size: 0.95em;

    @media screen and (min-width: $minLarge) {
        margin-left: 25px;
    }
}

.error {
    color: rgb(211, 54, 54);
}

.need_correct {
    color: green
}

.add_btn,
.close_btn {
    padding: 0 10px;
    color: white;
    font-family: $font;
    font-size: 0.9em;
    height: 33px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 30px;

    @media screen and (max-width: $maxSmall) {
        font-size: 0.85em;
    }
}

.add_btn {
    background-color: rgba(197, 71, 92, 0.815);
    border: 1px solid rgb(182, 92, 107);
}

.close_btn {
    background-color: rgba(107, 107, 107, 0.699);
    border: 1px solid rgba(141, 141, 141, 0.699);
    margin-left: 10px;
}