@import "variables.scss";

.cards_container {
  margin: $marginCont;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $minFull) {
    width: $width;
  }
  @media screen and (min-width: $minLarge)  and (max-width: $maxLarge) {
    width: $widthL;
  }
  @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
    width: $widthM;
  }
  @media screen and (max-width: $maxSmall) {
    width: $widthS;
  }
}

.card {
  margin: 0 auto 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span {
  font-family: $font;
  font-size: 1em;
  align-self: center;
}
