@import "variables.scss";

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(173, 173, 173, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: appear;
    animation-duration: 300ms;
}

.window {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(105, 105, 105);

    @media screen and (min-width: $minFull) {
        width: 40%;
        padding: 4% 0;
    }
    @media screen and (min-width: $minLarge) and (max-width: $maxLarge) {
        width: 60%;
        padding: 5% 0;
    }
    @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
        width: 70%;
        padding: 7% 0;
    }
    @media screen and (max-width: $maxSmall) {
        width: 90%;
        padding: 10% 0;
    }
}

.content {
    width: 85%;
    margin: auto;

    p {
        margin-top: 20px;
        font-family: $font;
        font-size: 1em;
    }
}

.title {
    font-family: $font;
    margin-top: 0;

    @media screen and (min-width: $minFull) {
        font-size: 1.5em;
        //margin: 35px 0 15px;
    }
    @media screen and (min-width: $minLarge) and (max-width: $maxLarge) {
        font-size: 1.45em;
    }
    @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
        font-size: 1.4em;
    }
    @media screen and (max-width: $maxSmall) {
        font-size: 1.2em;
    }
}

.delete_btn,
.cancel_btn {
    height: 33px;
    color: white;
    font-family: $font;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 10px;
    padding: 0 13px;

    @media screen and (max-width: $maxSmall) {
        font-size: 0.85em;
    }
}

.delete_btn {
    background-color: rgb(161, 42, 42);
    border: 1px solid rgb(160, 72, 87)
}

.cancel_btn {
    background-color: rgba(107, 107, 107, 0.699);
    border: 1px solid rgba(155, 155, 155, 0.445);
    margin-left: 10px;
}