@import "./variables.scss";

.footer_container {
  width: 100%;
  height: 100px;
  margin: 0;
  background-color: rgb(100, 100, 100);
  color: white;
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
menu {
  padding: 0;
}

.footer {
  margin: auto;

  @media screen and (min-width: $minFull) {
    width: calc($width + 5vw);
  }
  @media screen and (min-width: $minLarge)  and (max-width: $maxLarge) {
    width: calc($widthL + 5vw);
  }
  @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
    width: calc($widthM + 5vw);
  }
  @media screen and (max-width: $maxSmall) {
    width: calc($widthS - 5vw);
    text-align: center;
  }

  h4 {
    font-size: 15x;
    font-weight: 600;
    margin: 0;
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
  }
}
