@import "./variables.scss";

.header {
  background-color: lightgray;
  width: 100%;
  position: sticky;
  top: 0;

  @media screen and (min-width: $minLarge) {
    height: 60px;
  }
  @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
    height: 60px;
  }
  @media screen and (max-width: $maxSmall) {
    height: 50px;
  }

  .cont {
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    font-family: $font;
    align-items: center;
    height: 100%;

    @media screen and (min-width: $minFull) {
      width: calc($width + 5vw);
      font-size: 1em;
      //column-gap: 35px;
    }
    @media screen and (min-width: $minLarge)  and (max-width: $maxLarge) {
      width: calc($widthL + 5vw);
      font-size: 1em;
      //justify-content: space-between;
    }
    @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
      width: calc($widthM + 5vw);
      font-size: 0.95em;
      //justify-content: space-between;
    }
    @media screen and (max-width: $maxSmall) {
      width: $widthS;
      font-size: 0.95em;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 5px;

      /*@media screen and (min-width: $minFull) {
      }
      @media screen and (min-width: $minMedium) and (max-width: $maxLarge) {
        max-width: 45vw;
      }
      @media screen and (max-width: $maxSmall) {
      }*/
    }
  }

  img {
    @media screen and (min-width: $minLarge) {
      height: 50px;
    }
    @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
      height: 45px;
    }
    @media screen and (max-width: $maxSmall) {
      height: 45px;
    }
  }

  .link {
    text-decoration: none;
    color: rgb(22, 22, 22);
    border-bottom: dotted 1px rgb(99, 99, 99);
    margin: 0;
    white-space: nowrap;

    &:visited {
      color: rgb(22, 22, 22);
    }

    &:hover {
      background-color: rgba(197, 187, 189, 0.377);
      border-bottom: solid 1px rgb(22, 22, 22);
    }
  }
}

.title {
  font-weight: 600;
  white-space: pre-wrap;
  color: rgb(48, 41, 45);

  @media screen and (min-width: $minLarge) {
    font-size: 1em;
  }
  @media screen and (min-width: $minMedium) and (max-width: $maxMedium) {
    font-size: 0.9em;
  }
  @media screen and (max-width: $maxSmall) {
    display: none;
  }
}
