@import "variables.scss";

.loading_container {
    width: $widthLarger;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.loading_title {
    font-family: $font;
    font-weight: 600;
    //margin-top: 60px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    white-space: pre-line;
    color: rgb(48, 41, 45);
    text-align: center;
}

.loading_text {
    font-family: $font;
    font-size: 1.15em;
    font-weight: 500;
    margin-bottom: 95px;
    color: rgb(48, 41, 45);
}
