$font: "Montserrat", "Arial", sans-serif;
$widthLarger: 70vw;
$width: 65vw;
$widthL: 75vw;
$widthM: 85vw;
$widthS: 95vw;
$marginCont: 0 auto 60px;

$maxSmall: 480px;
$minMedium: 481px;
$maxMedium: 768px;
$minLarge: 769px;
$maxLarge: 1279px;
$minFull: 1280px;
