@import 'variables.scss';

.card {
    width: 200px;
    height: 160px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        p {
            font-family: $font;
        }
    }

}

.word {
    font-weight: 600;
}