h2 {
  color: rgb(64, 32, 97);
}

.comments {
  margin-left: 25px;
  width: 30%;
}

body {
  padding-bottom: 190px;
}

.button {
  background-color: rgb(192, 147, 236);
  border-color: rgb(192, 147, 236);
}