@import "variables.scss";

.card {
  width: 240px;
  height: 240px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardOk {
  background-color: rgb(175, 250, 175);
}

.word,
.transcription {
  font-family: $font;
  font-size: 1.2em;
  margin: 0 0 15px 0;
}

.word {
  font-weight: 600;
}

.translation {
  margin: 30px 0 0 0;
  font-family: $font;
  font-size: 1.2em;
  color: rgb(121, 36, 121);
  font-weight: 600;
}

.loading {
  font-family: $font;
  font-size: 1.15em;
  margin-bottom: 0;
}

.buttonShow {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: 500;
  font-family: $font;
  border: none;
  border-radius: 3px;
  background-color: rgba(248, 227, 230, 0.555);
  height: 33px;
  padding: 0 15px;

  &:hover {
    background-color: rgba(245, 212, 217, 0.555);
  }

  &:active {
    box-shadow: 0 0 0 1px lightgray;
  }
}

.buttonCancel {
  font-size: 0.9em;
  font-weight: 500;
  margin: 0;
  border: none;
  color: rgb(202, 48, 48);
  background-color: rgba(255, 255, 255, 0);
  font-family: $font;

  &:hover {
    text-decoration: underline;
  }
}
