@import 'variables.scss';

.cards_container {
    width: $width;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 0 auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span {
    font-family: $font;
    font-size: 1em;
    align-self: center;
}